body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Make the sidebar on the right side of the screen */
    font-family: Montserrat, sans-serif;
  }
  
  .container {
    margin-right: 100px; /* Adjust this value to match the width of the sidebar */
    flex-grow: 1; /* Allow content to grow and take available space */
  }
  
  .article-rows {
    padding: 35px;
    margin-top: -100px; /* Remove the negative margin */
  }
  
  #wrapper {
    height: 200px;
    overflow: auto;
    width: 500px;
    overflow-y: hidden;
  }
  
  #innerwrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 1200px; /* Adjust the total width of the inner wrapper */
  }
  
  #innerwrapper img {
    margin-right: 10px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%; /* This makes the sidebar the same height as the viewport */
    background-color: #1098ad;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 10px 0;
  }
  
  .sidebar a img {
    width: 30px;
  }
  
  .sidebar a:hover {
    background-color: #0e8397;
  }
  
  .welcome-text {
    font-style:oblique;
    margin-top: -40px;
    padding: 20px;
    color: gold;
  }
  
  .welcome-text p {
    font-size: 64px;
  }
  
  .watermark {
    position: fixed;
    bottom: 10px;
    right: 100px;
    font-size: 16px;
    color: rgba(116, 115, 115, 0.493);
    pointer-events: none;
    font-style: italic;
  }
  