/*
Written by: Joey Perrello
Tested by: Joey Perrello
Debugged by: Joey Perrello
*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Make the sidebar on the right side of the screen */
  font-family: Montserrat, sans-serif;
}

.container {
  margin-right: 100px; /* Adjust this value to match the width of the sidebar */
  flex-grow: 1; /* Allow content to grow and take available space */
}

.article-rows {
  padding: 35px;
  margin-top: -100px; /* Remove the negative margin */
}
.folder-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.folder-item {
  text-align: center;
}

.folder-item img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%; /* This makes the sidebar the same height as the viewport */
  background-color: #1098ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 10px 0;
}

.sidebar a img {
  width: 30px;
}

.sidebar a:hover {
  background-color: #0e8397;
}

.welcome-text {
  font-style: italic;
  margin-top: -40px;
  padding: 20px;
  color: #1098ad;
}

.welcome-text p {
  font-size: 64px;
}

.watermark {
  position: fixed;
  bottom: 10px;
  right: 100px;
  font-size: 16px;
  color: rgba(116, 115, 115, 0.493);
  pointer-events: none;
  font-style: italic;
}
