<!--
written by: Joey Perrello
tested by: Joey Perrello
debugged by: Joey Perrello
!-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/favorites_style.css') }}" rel="stylesheet" type="text/css"/> 
    <title>Favorites Page</title>
</head>
<body>
    <div class="container">
        <div class = "welcome-text">
          <p>Favorites</p> <!-- Will need to make script to remember user's name-->
        </div>
        <div class="article-rows">
              {% for favorite in favorites_list %} 
                <a href="{{ favorite }}" target="_blank">{{ favorite }}</a>
                <button onclick="remove_from_favorites_button('{{ favorite }}')">Remove</button>
                {% endfor %}
            </div>
          </div>
        </div>
        <script>
          function remove_from_favorites_button(article_title) {
              var xhr = new XMLHttpRequest();
              xhr.open("GET", "/remove_favorite/" + encodeURIComponent(article_title), true);
              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      location.reload();  // Reload the page after removing from favorites
                  }
              };
              xhr.send();
          }
      </script>
        <br>
        <br>
          </div>
        </div>
      </div>
      <nav class="sidebar">
        <a href="{{ url_for('home') }}"><img src="/static/images/home.png" alt="Home"></a>
        <a href="{{ url_for('user') }}"><img src="/static/images/user.png" alt="User"></a>
        <a href="{{ url_for('favorites') }}"><img src="/static/images/yellow_star.png" alt="Star"></a>
        <a href="{{ url_for('search') }}"><img src="/static/images/search.png" alt="Search"></a>

      </nav>
      <div class="watermark">
        <p>&copy; The One Stop Research Shop - JAKE 2023</p>
      </div>
</body>
</html>

