<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/home_style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>The One Stop Research Shop</title>
  </head>
  <script>
    // Function to redirect to the search route for Computer Science
    function redirectToSearchComputerScience() {
      window.location.href = '/search_computer_science_folder';
    }
    function redirectToSearchMath() {
      window.location.href = '/search_math_folder';
    }
    function redirectToSearchBiology() {
      window.location.href = '/search_biology_folder';
    }
    function redirectToSearchPhysics() {
      window.location.href = '/search_physics_folder';
    }
    function redirectToSearchHistory() {
      window.location.href = '/search_history_folder';
    }
    function redirectToSearchEnglish() {
      window.location.href = '/search_english_folder';
    }
  </script>
  <body>
    <div class="container">
      <div class="welcome-text">
        {% if 'fname' in session and 'lname' in session %}
        <p>Welcome back {{ session['fname'] }} {{ session['lname'] }}!</p>
        {% else %}
        <p>Welcome back User!</p>
        {% endif %}
      </div>
      <div class="folder-container">
        <!-- Individual folder divs -->
        <div class="folder-item" onclick="redirectToSearchMath()">
          <img src="/static/images/folder.png" alt="Folder 1">
          <p>Math</p>
        </div>
        <div class="folder-item" onclick="redirectToSearchComputerScience()">
          <img src="/static/images/folder.png" alt="Folder 2">
          <p>Computer Science</p>
        </div>
        <div class="folder-item" onclick="redirectToSearchHistory()">
          <img src="/static/images/folder.png" alt="Folder 1">
          <p>History</p>
        </div>
        <div class="folder-item" onclick="redirectToSearchEnglish()">
          <img src="/static/images/folder.png" alt="Folder 2">
          <p>English</p>
        </div>
        <div class="folder-item" onclick="redirectToSearchBiology()">
          <img src="/static/images/folder.png" alt="Folder 1">
          <p>Biology</p>
        </div>
        <div class="folder-item" onclick="redirectToSearchPhysics()">
          <img src="/static/images/folder.png" alt="Folder 2">
          <p>Physics</p>
        </div>
        
      </div>
    <nav class="sidebar">
      <a href="{{ url_for('home') }}"
        ><img src="/static/images/home.png" alt="Home"
      /></a>
      <a href="{{ url_for('user') }}"
        ><img src="/static/images/user.png" alt="User"
      /></a>
      <a href="{{ url_for('favorites') }}"
        ><img src="/static/images/yellow_star.png" alt="Star"
      /></a>
      <a href="{{ url_for('search') }}"
        ><img src="/static/images/search.png" alt="Search"
      /></a>
    </nav>
    <div class="watermark">
      <p>&copy; The One Stop Research Shop - JAKE 2023</p>
    </div>
  </body>
</html>
