<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="{{ url_for('static', filename='css/landing_page_style.css') }}" rel="stylesheet" type="text/css"/>
    <title>The One Stop Research Shop</title>
  </head>
  <body>
    <div class="landing-page">
      <div class="background-image"></div>
      <div class="content">
          <h1>The One Stop <br>Research Shop</h1>
          <p>
            No paid downloads.<br>
            No annoying pop-ups.<br>
            Only the information you need to succeed.<br>
          </p>        
          <a class="login-button" href="{{ url_for('login') }}">Log In</a>
      </div>
    </div>
  </body>
</html>