<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      href="{{ url_for('static', filename='css/login_style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>Login Page</title>
  </head>
  <body>
    <div class="background-image"></div>
    <div class="login-container">
      <h2>Login</h2>
      <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            style="width: 260px"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            style="width: 260px"
          />
        </div>
        <button type="submit" class="login-button">Log In</button>
      </form>
      <p>
        Don't have an account?
        <a href="{{ url_for('create_account') }}">Create Account</a>
      </p>
    </div>
  </body>
</html>
