<!--
written by: Joey Perrello
tested by: Joey Perrello
debugged by: Joey Perrello
!-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="profile_style.css" rel="stylesheet" />

    <title>One Stop Research Shop</title>
  </head>

  <body>
    <div class="container">
      <header class="main-header">
        <h1><a href="Interface.html">The One Stop Research Shop</a></h1>

        <nav>
          <a href="login.html">
            <button class = "login-button">
              <img src="images/user.png" alt="User Icon">
              Log In
            </button>
          </a>
          <a href="Create_Account.html">Create account</a>
          <a href="#">Profile</a>
        </nav>
      </header>

      <article>
        <header class="post-header">
          <h2>Articles</h2>

          <img
            src="images/image-not-available.jpeg"
            width = "150"
            height="200"
          />
      <footer>
        <p id="Copyright" class="Copyright text">
          Copyright &copy; 2024 The One shop Reasearch .
        </p>
      </footer>
    </div>
  </body>
</html>
