<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/search_style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>Search Page</title>
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="filters">
          <h2>Filter by Topic</h2>

          <h2>Filter by Year</h2>
          <input type="range" name="year" min="1980" max="2023" />

          <h2>Filter by Author</h2>
          <input type="text" name="author" placeholder="Type author's name" />

          <h3>
            <a href="{{ url_for('home') }}">Go Back to Home</a>
          </h3>
        </div>
      </div>
      <div class="right-side">
        <div class="search-section">
          <form id="search-form" method="POST" action="/search">
            <div class="search-bar">
              <img
                src="/static/images/search.png"
                width="30px"
                height="40px"
                alt="Search Icon"
              />
              <input
                type="text"
                id="search-input"
                name="search_query"
                placeholder="Type an article, topic, or subject to find articles"
              />
              <button type="submit">Search</button>
            </div>
          </form>
          <p id="search-message">Search results will be displayed here.</p>
          <div id="search-results">
            <!-- Display hyperlinked titles and URLs -->
            {% if results %}
            <ul>
              {% for result in results %}
              <li>
                <a href="{{ result.get_url() }}" target="_blank"
                  >{{ result.get_title() }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No results found.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="watermark">
      <p>&copy; The One Stop Research Shop - JAKE 2023</p>
    </div>
  </body>
</html>
