<!-- #Elliott -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/show_physics_style.css') }}"
      type="text/css"
    />
    <title>Show Physics Articles</title>
  </head>
  <body>
    <div class="welcome-text">
      <h1>Physics Articles</h1>
    </div>
    <div class="container">
      <ul>
        {% for article in article_list %}
        <li>
          <a href="{{ article.get_url() }}" target="_blank"
            >{{ article.get_title() }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <nav class="sidebar">
      <a href="{{ url_for('home') }}"
        ><img src="/static/images/home.png" alt="Home"
      /></a>
      <a href="{{ url_for('user') }}"
        ><img src="/static/images/user.png" alt="User"
      /></a>
      <a href="{{ url_for('favorites') }}"
        ><img src="/static/images/yellow_star.png" alt="Star"
      /></a>
      <a href="{{ url_for('search') }}"
        ><img src="/static/images/search.png" alt="Search"
      /></a>
    </nav>
    <div class="watermark">
      <p>&copy; The One Stop Research Shop - JAKE 2023</p>
    </div>
  </body>
</html>
